
header{
    background-color: orange;
    color: white;
    padding: 20px;
}
img{
    width: 600px;
}
footer{
    background-color: orange;
    color: white;
}
.wrapper{
    width: 1100px;
    margin: 30px auto;
}
.lin{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav{
    display: flex;
    width: 600px;
    border: 1px solid black;
}
.container{
    display: flex;
}
main{
    width: 600px;
    padding: 20px;
}
.right{
    width: 500px;
    margin-left: 60px;
    padding: 20px;
}
footer{
    padding: 30px 0;
    text-align: center;
}
.block{
    margin: 20px 0 50px 220px;
}
.sitename{
    margin-bottom: 10px;
    font: 20px arial;
}
nav a:hover, nav a:active{
    color: red;
    text-decoration: underline;
}
main h1{
    font: 10px 'Times New Roman';
}
table{
    border: 0px solid black;
    text-align: center;
}
main p{
    margin: 10px 0;
    text-align: justify;
    font: 15px arial;
}
td, th, tr{
    border: 1px solid black;
    padding: 70px;
    padding-top: 0px;
    padding-bottom: 0px;
}
thead{
    background-color: rgba(201, 201, 201, 0.356);
}
